body {
	margin: 0;
	display: flex;
	min-height: 100vh;
}
.allmenu {
	display: flex;
	width: 100%;
}
div {
	float: left;
	width: 450px;
}
#sectionA {
	background: blue;
	width: 33%;
}
#sectionB {
	background: red;
	width: 33%;
}
#sectionC {
	background: green;
	width: 33%;
}
